<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Portfolio Tracker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Navigation Links -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/stocks" routerLinkActive="active-link">Stocks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio-details" routerLinkActive="active-link">Portfolios</a>
        </li>

        <!-- Profile Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLinkActive="active-link"
          >
            <i class="fas fa-user-circle"></i> Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <!-- <li><a class="dropdown-item" href="#">My Details</a></li>
            <li><a class="dropdown-item" href="#">Account</a></li> -->
            <li><a class="dropdown-item" href="#" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>

        <!-- Dark Mode Toggle -->
        <li class="nav-item">
          <button class="btn btn-lg btn-dark" id="darkModeToggle" (click)="toggleDarkMode()">
            <i class="fas" [class.fa-moon]="!darkMode" [class.fa-sun]="darkMode"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
