.footer {
  background: linear-gradient(120deg, #141e30, #243b55);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #f8f9fa;
  letter-spacing: 0.05em;
}

.footer p {
  font-size: 0.9rem;
  color: #e0e0e0;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a:hover {
  text-decoration: underline;
  color: #ffc107;
}

.footer .fab {
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

.footer .fab:hover {
  transform: scale(1.2);
  color: #ffc107;
}

.footer hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer small {
  color: #e0e0e0;
}
