<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card shadow-lg p-4 login-card">
    <h2 class="text-center text-primary mb-4">Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
          [(ngModel)]="loginObj.email"
          name="email"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="loginObj.password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-success w-100">Login</button>
    </form>
    <div class="text-center mt-3">
      <a routerLink="/home/forgetpassword" class="text-decoration-none"
        >Forgot Password?</a
      >
    </div>
    <div class="text-center mt-3">
      <p>
        Don't have an account?
        <a routerLink="/home/register" class="text-decoration-none">Register</a>
      </p>
    </div>
  </div>
</div>
