  <div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow-lg p-4 register-card">
      <h2 class="text-center text-black mb-4">Register</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter your full name"
            [(ngModel)]="registrationObj.fullName"
            name="fullName"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter your email"
            [(ngModel)]="registrationObj.email"
            name="email"
            required
          />
        </div>
        <div class="d-flex gap-3 mb-3">
          <div class="form-group flex-grow-1">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Create a password"
              [(ngModel)]="registrationObj.password"
              name="password"
              required
            />
          </div>
          <!-- <div class="form-group flex-grow-1">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              placeholder="Confirm password"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
            />
          </div> -->
        </div>
        <button type="submit" class="btn btn-success w-100">Register</button>
      </form>
      <div class="text-center mt-3">
        <p>
          Already have an account?
          <a routerLink="/home/login" class="text-decoration-none">Login</a>
        </p>
      </div>
    </div>
  </div>