<div class="container mt-4 mb-5 ">
  <a routerLink="/stocks" class="text-decoration-none">
    <h5 class="fw-bold">Stocks</h5>
  </a>
  <h1 class="text-center mb-4 mt-2">Stock Details</h1>

  <!-- Stock Information and Graph Section -->
  <div class="row justify-content-center align-items-start">
    <div class="col-lg-6 mb-4">
      <div class="card stock-info-card">
        <div class="card-header text-center">
          <img
            [src]="selectedStock.logo"
            alt="{{ selectedStock.name }} Logo"
            class="stock-logo-lg"
          />
        </div>
        <div class="card-body">
          <h3 class="card-title text-center">{{ selectedStock.name }}</h3>
          <p class="text-muted text-center">({{ selectedStock.symbol }})</p>
          <hr />
          <div class="row">
            <div class="col-6">
              <p><strong>Current Price:</strong> ${{ selectedStock.price }}</p>
              <p><strong>Open:</strong> ${{ selectedStock.open }}</p>
              <p><strong>Today's High:</strong> ${{ selectedStock.high }}</p>
            </div>
            <div class="col-6">
              <p><strong>Volume:</strong> {{ selectedStock.volume }}</p>
              <p><strong>Market Cap:</strong> ${{ selectedStock.marketCap }}</p>
              <p>
                <strong>52-Week High:</strong> ${{ selectedStock.week52High }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <!-- Stock Add -->
      <div class="card stock-info-card">
        <div class="card-body">
          <form (ngSubmit)="saveStock()">
            <div class="mb-3">
              <label for="name" class="form-label">Stock Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="selectedStock.name"
                name="name"
                required
                disabled="true"
              />
            </div>
            <div class="mb-3">
              <label for="symbol" class="form-label">Ticker Symbol</label>
              <input
                type="text"
                id="symbol"
                class="form-control"
                [(ngModel)]="selectedStock.symbol"
                name="symbol"
                required
                disabled="true"
              />
            </div>
            <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input
                type="number"
                id="quantity"
                class="form-control"
                [(ngModel)]="selectedStock.quantity"
                name="quantity"
                required
              />
            </div>
            <div class="mb-3">
              <label for="buyPrice" class="form-label">Buy Price</label>
              <input
                type="number"
                id="buyPrice"
                class="form-control"
                [(ngModel)]="selectedStock.price"
                name="buyPrice"
                required
                disabled="true"
              />
            </div>
            <div class="text-center mt-4">
            <button class="btn btn-success me-3 mb-2" type="submit">
              {{'Add Stock' }}
            </button>
            <button class="btn btn-secondary mb-2" (click)="goBack()">Back</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
