body {
  background: linear-gradient(to bottom right, #43cea2, #185a9d);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.card {
  border: none;
  border-radius: 10px;
}

.card h3 {
  color: #333;
  font-weight: 700;
}

a {
  color: #282829;
}

a:hover {
  text-decoration: underline;
}
